html {
    background-color: #101820;
}

.main {
    display: grid;
    grid-template: 100px 1fr / 1fr;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.start-game {
    display: none;
    width: min(200px, 70%);
    height: max(70px, 40%);
    background-color: rgba(128, 128, 128, 0.678);
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 2px;
    border: solid 3px;
}

button:hover {
    transform: scale(0.95);
}

#clicked {
    background-color: red;
    transform: none;
}

.choose-button {
    display: flex;
    max-height: 50px;
}

.two-players {
    width: min(120px, 70%);
    height: max(40px, 20%);
    background-color: rgba(128, 128, 128, 0.678);
    font-weight: 700;
    border: solid 3px;
}

.computer {
    width: min(100px, 70%);
    height: max(40px, 20%);
    background-color: rgba(128, 128, 128, 0.678);
    font-weight: 700;
    border: solid 3px;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(3, 200px);
    opacity: 0.8;
    border-radius: 25px;
    background-color: #FEE715;
}

#slot {
    font-size: 3rem;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slot2, .slot5, .slot8 {
    border-left: solid 3px;
}

.slot3, .slot6, .slot9 {
    border-left: solid 3px;
}

.slot2, .slot5, .slot1, .slot4, .slot3, .slot6 {
    border-bottom: solid 3px black;
}

.winnerScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 32, 102, 0.329);
    align-items: center;
    justify-content: center;
}

.display {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
}
.close {
    width: 150px;
    height: 50px;
    background-color: rgb(105, 182, 212);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 2px;
    border: solid 3px;
}